<%- include("header") -%>
    <h1><%=title%></h1>
    <div class = "card">
        
            <% for(let i = 0; i < task.length; i++) { %>
                <div class = "box">
                    <input type = "checkbox" class = "checkbox" id = "a">
                    <p class = "element"><%=task[i] %></p>
                </div>
            <% } %>
        <form <%if(title == "Work List") {%>action = "/work"<%} else {%> action = "/"<%}%> method = "post">
            <input type = "text" placeholder="New Task" name = "newtask" autocomplete="off">
            <button class="button button5" type="submit">+</button>
        </form>
    </div>
<%- include("footer") -%>